---
import "../styles/global.scss";
import { Icon } from "astro-icon/components";
import { ClientRouter } from "astro:transitions";
import { AstroFont } from "astro-font";
import { Lang, LangLabels } from "../i18n/i18nMap";
import { Inconsolata } from "../constants/fonts";
import { RouteUtils } from "../utils/routeUtils";
import { I18n, CurrentLang } from "../stores/coreStore";

export interface Props {
  pageTitle?: string;
}
const { pageTitle } = Astro.props;
const $lang = CurrentLang.get();
const { core: coreContent } = I18n.get();
---

<!doctype html>
<html lang={$lang} class="text-darkgray text-lg font-medium">
  <!--suppress HtmlRequiredTitleElement -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Todo: Add astro & react credit to footer, see below -->
    <meta name="generator" content={Astro.generator} />
    {
      pageTitle ? (
        <title>
          {pageTitle} | {coreContent.siteTitle}
        </title>
      ) : (
        <title>{coreContent.siteTitle}</title>
      )
    }
    <ClientRouter />
    <AstroFont config={[Inconsolata]} />
  </head>
  <body class="w-dvw h-dvh flex flex-col justify-center relative">
    <div
      class="flex items-center justify-between h-10 px-2 sm:px-5 text-darkgray/60 tracking-tighter absolute w-full top-0 transition-colors"
    >
      <div class="flex gap-x-2 text-xs sm:text-sm">
        {
          Object.values(Lang).map((_lang) => (
            <a
              id={`LangSwitcher-${_lang}`}
              class={`${$lang === _lang ? "text-darkgray" : "hover:text-darkgray"} lowercase`}
              href={RouteUtils.getCurrentForLang(Astro.url, _lang)}
            >
              {LangLabels[_lang]}
            </a>
          ))
        }
      </div>

      <a
        class="hover:text-darkgray flex items-center text-xs lowercase sm:text-sm"
        href="https://github.com/nipsysdev/personal-website"
        target="_blank"
      >
        <Icon name="mdi:github" size="1.2rem" />&nbsp;{coreContent.sourceCode}
      </a>
    </div>

    <div
      class="flex-auto flex items-center justify-center pt-10 px-2 pb-2 sm:px-5 sm:pb-5 lg:p-14"
    >
      <slot />
    </div>
  </body>
</html>
